{% extends "home/waterinjectorlayout.html" %}
{% block title %}
Upload Excel File
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="main text-center">
    <div class="row">
    <h3 class="text-center">Import Gas Producer Deviation Survey Data from Excel</h3>   
    </div>
    <div class="row">
    <div class="col-md-6">
      <input type="file" name="myfile" class="form-control">
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success" >Upload Gas Producer Deviation Survey Data</button> 
    </div>

    <div class="row">
      <h3 class="text-center">Gas Producer Deviation Survey Data</h3>
      <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em; width: 90%;">
        {% csrf_token %}
        <thead style="background-color:rgb(106, 130, 238);">
              <tr>
                  {% comment %} <th>#</th> {% endcomment %}                    
                  <th class="text-center" scope="col">Measured Depth (ft)</th>
                  <th class="text-center" scope="col">Angle</th>   
                  <th class="text-center" scope="col">Azimuth</th>   
              </tr>
          </thead>
          <tbody>            
              {% for survey in gpdevdata %}
              <tr>
                  {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                  <td class="text-center">{{survey.gpmeasuredDepth}}</td>
                  <td class="text-center">{{survey.gpangle}}</td>                    
                  <td class="text-center">{{survey.gpazimuth}}</td>  
              </tr>
          {% endfor %}        
          </tbody>
      </table>   
      <br>
      <br> 
      <div class="d-flex justify-content-center" style="width: 30%;">
          <a href="{% url 'gpdeviationsurveydata:list_gpdeviationsurvey' %}" class="d-block btn btn-primary my-5">Back to Deviation Survey</a>
      </div>
  </div> 

     
    </div>
  </div>
</form>   
{% endblock %}
