{% extends "home/gaslayout.html" %}
{% block content %}

{% url 'gpleakoffTests:list_gpleakoffTest' as list_all %}

<div class="container d-flex justify-content-center" style="width: 50%;">
    <div class="col text-center">
        <h5 class="text-center">Delete Gas Producer Leakoff Test </h5>
        <p class="text-danger">Are you sure you want to delete the Leakoff Test :</p>
        <h5 class="text-center">{{ gpleakoffTest.casingSize }}</h5>
        <form action="" method="POST">
            {% csrf_token %}                 
            {% comment %} <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{% url 'gpleakoffTests:list_gpleakoffTest' gpleakoffTest.casingSize_id %}'; return false;">{% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'gpleakoffTests:list_gpleakoffTest' gpleakoffTest.casingSize_id %}'; return false;" value="Cancel">
            
        </form>
    </div>
</div>

{% endblock %}