<html lang="en">
{% extends "home/oillayout.html" %}

{% block content %}

<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center ">Formation Tops </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px;" >
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'>  
                    <th>Hole Size</th>                      
                    <th>Group</th>   
                    <th>Formatiom</th> 
                    <th>Member</th> 
                    <th>Prog. Top</th> 
                    <th>Prog. Thickness</th>  
                    <th>Actual Top</th>                    
                    <th>Actual Thick</th>                                      
                    <th>Remarks</th>                                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in formationtops %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.hole_size}}</td>
                    <td>{{data.stat_Group}}</td>
                    <td>{{data.stat_Formation}}</td>                    
                    <td>{{data.stat_Member}}</td> 
                    <td>{{data.prognosis_Top}}</td>   
                    <td>{{data.prognosis_Thickness}}</td>        
                    <td>{{data.actual_Top}}</td>  
                    <td>{{data.actual_Thickness}}</td>  
                    <td>{{data.remarks}}</td>                 
                    <td><a href="{% url 'formationtops:update_formationtops' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'formationtops:delete_formationtops' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'formationtops:create_formationtops' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>