<html lang="en">
{% extends "Home/gasinjectorlayout.html" %}

{% block content %}
<div class="container" >   
    <h4 class="text-center">Well Objective</h4>
    <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">       
        <thead>           
            <tr>
                {% comment %} <th>#</th> {% endcomment %} 
                <th class="text-center" align="justify" scope="col">Well Name</th>                    
                <th class="text-center" align="justify" scope="col">Objectives</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Profile</th>                   
            </tr>
        </thead>
        <tbody>            
            {% for objective in giwellobjectives %}
            <tr>
                {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                <td class="text-center" align = "justify">{{objective.gpwellname}}</td>
                <td align = "justify">{{objective.giobjectives}}</td>  
                <td><a href="{% url 'giwellobjectives:update_giwellobjective' objective.id %} ">Edit</a></td>
                <td><a href="{% url 'giwellobjectives:delete_giwellobjective' objective.id %}">Delete</a></td>
                <td><a href="{% url 'giwellobjectivedata:list_giwellobjectivedata' objective.id %}">Profile</a></td>
                
            </tr>
            {% endfor %}        
        </tbody>
    </table> 
    {% if not opwellobjectives %}
        <div class="d-flex justify-content-center" style="width: 15%;">
            <a href="{% url 'giwellobjectives:create_giwellobjective' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div> 
    {% endif %} 
    <div class="text-center"> 
        {%  if chart1 %}
            <img alt="" src="data:image/png;base64, {{chart1|safe}}">
        {% endif %}          
    </div>
    <div class="text-center" style="border: 2px; border-width:2px; font-size:0.75em;">  
        {%  if chart2 %}
            <img alt="" src="data:image/png;base64, {{chart2|safe}}">
        {% endif %}         
    </div>    
</div>    
{% endblock content %}
</html>