{% extends "home/homelayout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" > 
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="row" >
    <hr>
    <h5 class="text-center text-success">Home</h5>
    <hr>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 align="center">𝐈𝐧𝐭𝐞𝐥𝐥𝐢𝐖𝐞𝐥𝐥🌈™</h4>
            </div>
            <div class="card-body">
                <p align="justify">
                    Maximizing oil and gas production from wells within certain restraints have always been the objectives of the petroleum engineers. One of the obstacles that prevent achieving these objectives is problems that occur within the wells. These problems can be associated specifically with the reservoir, the wellbore and near wellbore area and mechanical aspects of the producing well. Symptom recognition and definition of the cause of a problem can best be accomplished through regular surveillance data collection and analysis of individual well production data. 
`               </p>
                <p align="justify">    
                    It has been well established by many operators that constant review of individual well performance by the multidisciplinary team results in wells being maintained in their optimum producing condition. These reviews are facilitated by the regular surveillance data collection and proper display of well test. An effort is made to put a systematic analysis of available data organise the data necessary to analyse the well performance to identify the problem in the well in order to restore the production rates by rectifying the problem through the stat-of-the-art process.   
                </p>
                <p align="justify">    
                    The analysis and prediction of reservoir and well performance requires diverse information which a reservoir or a production engineer must have before analysing reservoir performance or predict future production under various production mechanisms, the key to which is a consistent and representative mathematical model of the physical parameters governing flow in the reservoir. 
                </p>
                <p align="justify">
                    Several parameters are gathered for well from drilling proposal to abandonment of the well through various phases of drilling, completion, production/injection. There is no system available to store all the data of the different phases in a single database system and hence an effort was made to build a system that can handle all the well data and do the well performance analysis. 
                </p>
                <p align="justify">
                    Intelliwell is an integrated tool for the design, analysis and optimization of well performance integrated with all the data of the well. It is designed to build consistent models with reliable data from the database. Its unique features allow to compare the production data of a well, layer, and field with the predicted data from the model.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 align="center">Modules in 𝐈𝐧𝐭𝐞𝐥𝐥𝐢𝐖𝐞𝐥𝐥🌈™</h4>
            </div>
            <div class="card-body">
                <p align="justify">
                    <ul>
                        <h5>Fieldwide Data </h5>                            
                            <li> Blocks </li>
                            <li> Assets </li>
                            <li> Fields </li>
                            <li> Layers </li>
                            <li> SubLayers </li>
                            <li> Field General Info </li>
                            <li> PVT </li>
                            <li> Core Analysis </li>
                            <li> SCAL </li>
                            <li> Water Analysis </li>
                            <li> Maps </li>
                            <li> Production Analysis </li>                            

                    </ul>  
`               </p>
                <p align="justify">    
                    <ul>
                        <h5>Oil Producer  </h5>
                            <li> Well List </li>
                            <li> Objectives </li>
                            <li> Drilling </li>
                            <li> Geology </li>
                            <li> Geophysics/Petrophysics </li>
                            <li> Reservoir </li>
                            <li> Production </li>
                            <li> Interventions </li>
                    </ul>
                </p>
              
            </div>
        </div>
    </div>

</div>

{% endblock %}
