{% extends "Home/oillayout.html" %}
<title>
    
    {% block title %}
        View Log from data
    {% endblock title %}
        
</title>
{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'recordedlogs:list_recorded_logs' as list_all %}
<div class="container justify-content-center mt-1" >
    <div class="col mt-0">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="align-content: center;"> 
                <h4 class="text-center">Log from Data</h4>
            </div> 
            <hr>
            <div class="container mt-0">  
                {%  if chart1 %}
                    <img src="data:image/png;base64, {{chart1|safe}}">
                {% endif %}   
            </div>  
            <hr> 
            <div class="container mt-0">  
                {%  if chart2 %}
                    <img src="data:image/png;base64, {{chart2|safe}}">
                {% endif %}   
            </div>  
            <hr> 
            <div class="container mt-0">  
                {%  if chart %}
                    <img src="data:image/png;base64, {{chart|safe}}">
                {% endif %}   
            </div>        
            <div class="container d-flex justify-content-center" style="width: 10%;">               
                <input type="submit" class="btn btn-primary btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Back to Recorded Logs">
            </div>           
        </form> 
    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}