<html lang="en">
{% extends "home/gaslayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
    <div class="container main">   
        <div class="row"> 
            <h5 class="text-center">Wellhead Details </h5>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em;">
            {% csrf_token %}
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'> 
                    <th>Make</th>                      
                    <th>Model</th>   
                    <th>Type</th> 
                    <th>Seal</th> 
                    <th>Hanger</th> 
                    <th>Flange</th>   
                    <th>Connection</th> 
                    <th>Valve</th> 
                    <th>Temp. Rating</th>   
                    <th>Material</th> 
                    <th>Service</th> 
                    <th>PSL</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in wh_datas %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.gpwh_Make}}</td>
                    <td>{{data.gpwh_Model}}</td>
                    <td>{{data.gpwh_Type}}</td>   
                    <td>{{data.gpseal}}</td>    
                    <td>{{data.gphanger_Type}}</td>               
                    <td>{{data.gpflange_Size}}</td> 
                    <td>{{data.gpconnection}}</td>    
                    <td>{{data.gpvalve_Size}}</td>               
                    <td>{{data.gptemperature_Rating}}</td>                      
                    <td>{{data.gpmaterial}}</td>    
                    <td>{{data.gpservice}}</td>               
                    <td>{{data.gpproduct_Service_Level}}</td>   
                                                                                     
                    <td><a href="{% url 'gpwellhead:update_gpwellhead' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'gpwellhead:delete_gpwellhead' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex text-center">           
            <a href="{% url 'gpwellhead:create_gpwellhead' %}" class="d-block btn btn-primary btn-sm my-2">Add New</a>
           
        </div>             
    </div> 
</form>
{% endblock content %}
</html>