{% extends "Home/observerlayout.html" %}
{% block title %}
Upload Excel File
{% endblock %}
{% block content %}
<div class="container">
    {% include 'home/messages.html' %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}  
       <div class="row">
        <h5 class="text-center"> Choose a file with extension xlsx format </h5>    
           <div class="col-md-9">
               <input type="file" id="excel_upload" name="postedFile" accept=".xlsx" class="form-control" style="font-size:small" />
           </div>
           <div class="col-md-3">
               <input type="submit" title="excel_upload" value="Upload" class="btn btn-success" style="font-size:small" />
           </div>
       </div>    
        <div class="container d-flex mt-0" style="width: 100%;">            
            <div class="row">        
                <h4 class="text-center"> Uploaded Gradient Survey Data </h4>        
                <table class='table table-striped' width="100%" style="border-color:green; border: thick 4px; ;">
                    <thead>
                        <tr>  
                            <th class='id'>Survey Id</th>                       
                            <th class='date'>Measured Depth</th>   
                            <th class=''>Gauge Pressure (psi)</th>                   
                            <th class='liquidrate'>Gauge Temp. (def<sup>o</sup>F</th>  
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>            
                        {% for gradientsurveydata in datas %}
                        <tr >
                            {% comment %} <th scobe="row">{{forloob.counter}}</th> {% endcomment %} 
                            <td class="">{{gradientsurveydata.obgradientsurvey_id}}</td>
                            <td class="">{{gradientsurveydata.obgauge_Depth}}</td>
                            <td class="">{{gradientsurveydata.obgauge_Pressure}}</td> 
                            <td class="">{{gradientsurveydata.obgauge_Temperature}}</td>
                            <td><a href="{% url 'obgradientsurveydata:update_obgradientsurveydata' gradientsurveydata.id %} ">Edit</a></td>
                            <td><a href="{% url 'obgradientsurveydata:delete_obgradientsurveydata' gradientsurveydata.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}   
                </table> 
                <div class="d-flex text-center">
                    <a href="{% url 'obgradientsurveys:list_obgradientsurvey' %}" class="d-block btn btn-primary btn-sm my-5" style="margin-right: 30px;">Gradient Surveys</a>
                    <a href="{% url 'obgradientsurveydata:list_obgradientsurveydata' id %}" class="d-block btn btn-primary btn-sm my-5">Gradient Survey Data</a>
                </div> 
            </div>       
        </div> 
    <form>   
</div>
{% endblock %}