{% extends "Home/oillayout.html" %}

{% block content %}

<div class="container" style="width: 70%;">
    <div class="col">
        <h3 class="text-center">Drilling Well Data  Details</h3>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 100%">
                <thead>
                    <tr>
                       
                    </tr>
                </thead>
                <tbody>
                
                    {% for label, id in drillingwelldata.get_fields  %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td>{{id.assetname}}</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a href="{% url 'drillingwelldata:list_drillingwelldata' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}