{% extends "home/oillayout.html" %}

{% block content %}
{% for data in list_drillingwelldata %}
    {% for colname in drillingwelldata.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex main" style="width: 98%;">
    <div class="col">
        <h3 class="text-center">Drilling Well Data</h3>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; width:98%;">
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}                     
                    <th class="text-center" scope="col">Date</th>                    
                    <th class="text-center" scope="col">RKB-WH</th>
                    <th class="text-center" scope="col">RKB-GL (ft)</th>
                    <th class="text-center" scope="col">GL-MSL (ft)</th>   
                    <th class="text-center" scope="col">RKB-MSL</th>   
                    <th class="text-center" scope="col">WH-MSL</th>   
                    <th class="text-center" scope="col">Lattitude</th>   
                    <th class="text-center" scope="col">Longitude</th> 
                    <th class="text-center" scope="col">MD</th>   
                    <th class="text-center" scope="col">TVD</th>   
                    <th class="text-center" scope="col">AFE</th>    
                    <th class="text-center" scope="col">Update</th>   
                    <th class="text-center" scope="col">Delete</th>                 
            </thead>
            <tbody>            
                {% for data in drillingwelldata %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td class="text-center">{{data.survey_Date}}</td>
                    <td class="text-center">{{data.rkb_to_WH}}</td>
                    <td class="text-center">{{data.rkb_to_GL}}</td>
                    <td class="text-center">{{data.gl_to_MSL}}</td>                    
                    <td class="text-center">{{data.rkb_to_MSL}}</td>   
                    <td class="text-center">{{data.wh_to_MSL}}</td>
                    <td class="text-center">{{data.lattitude}}</td>
                    <td class="text-center">{{data.longitude}}</td>
                    <td class="text-center">{{data.total_Measured_Depth}}</td>                    
                    <td class="text-center">{{data.total_True_Vertical_Depth}}</td>    
                    <td class="text-center">{{data.afe_No}}</td>                 
                    <td><a href="{% url 'drillingwelldata:update_drillingwelldata' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'drillingwelldata:delete_drillingwelldata' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <div class="d-flex justify-content-center" style="width: 20%;">
            <a href="{% url 'drillingwelldata:create_drillingwelldata' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
{% endblock content %}