{% extends "home/fieldwidelayout.html" %}

{% block content %}

<div class="container mt-5" style="width: 70%;">
    <div class="col">
        <h5 class="text-center">Layer Details</h5>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-0" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="layername">Layer Name</th>
                        <th scope="description">Description</th>
                        <th scope="area">Area (sq.km)</th>
                        <th scope="year">Established in </th>
                    </tr>
                </thead>
                <tbody> 
                        <tr>                          
                            <td>{{layer.layername}}</td>
                            <td>{{layer.description}}</td>
                            <td>{{layer.area}}</td>
                            <td>{{layer.year}}</td>                           
                        </tr>  
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a href="{% url 'layers:all' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}