{% extends "home/fieldwidelayout.html" %}
<title>
    {% block title %}
    {% if object %}
        Update Layer 
    {% else %}  
        Create Layer    
    {% endif %} 
    {% endblock %}
</title>
{% block content %}

<!-- BOOTSTRAP FORM -->

<div class="container d-flex justify-content-center mt-0" style="border: 2px; border-width:2px; font-size:0.75em;">   
    <div class="col mt-0">
        <form action="" method="post">
            {% csrf_token %}
            {% if object  %}           
                <h4 class="text-center">Update Layer Details </h4> 
            {% else %}  
                <h4 class="text-center">Create Layer Details</h4>    
            {% endif %}
            <hr>         
            <div class="row">
                <div class="col-md-2" style="border:2px ;">
                    <label for="blockname">Field Name:</label><br>
                    <div class="centered">{{form.oilfield}} </div>
                </div> 
                <div class="col-md-2" >
                    <label for="area">Area (Sq. km):</label><br>
                     {{form.area}}
                </div>
                <div class="col-md-2" >
                    <label for="year">Discovery Year</label>
                   {{form.year}}
                </div> 
                <div class="col-md-2">
                    <label for="layername">Layer Name</label><br>      
                    {{form.layername}}
                </div>               
                <div class="col-md-2">
                    <label for="area">Vol. Data File</label><br>      
                    {{form.volumetric_data}}
                </div>
            </div>
            <div class="row" style="text-align: justify;">
                {{form.description}}
             </div> 
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'layers:all' %}'; return false;" value="Cancel">
            </div>    
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}