{% extends "Home/gasinjectorlayout.html" %}

{% block content %}

<div class="container d-flex" style="width: 100%;"> 
    <div class="col">
   
        <h5 class="text-center text-success"> Bridge Plugs / Cement Retainers</h5>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em;">
            {% csrf_token %}
            <thead style="background-color:rgb(106, 130, 238);">        
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Plug Date</th>     
                    <th class="text-center" scope="col">Plug Type</th>                    
                    <th class="text-center" scope="col">Plug Depth</th>
                    <th class="text-center" scope="col">Casing Size(In)</th>
                    <th class="text-center" scope="col">Plug OD(In)</th>
                    <th class="text-center" scope="col">Setting Range(ppf)</th>
                    <th class="text-center" scope="col">Setting Mechanism</th>
                    <th class="text-center" scope="col">Make</th>
                    <th class="text-center" scope="col">Model</th>
                    <th class="text-center" scope="col">Pressure Rating(psi)</th>
                    <th class="text-center" scope="col">Temp Rating(deg F)</th>
                    <th class="text-center" scope="col">Problems</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for plug in giplugs %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{plug.giplug_Date}}</td>
                    <td class="text-center">{{plug.giplug_type}}</td>
                    <td class="text-center">{{plug.giplug_Depth}}</td>
                    <td class="text-center">{{plug.gicasing_Size}}</td>
                    <td class="text-center">{{plug.giplug_OD}}</td>
                    <td class="text-center">{{plug.gisetting_range_ppf}}</td>  
                    <td class="text-center">{{plug.gisetting_mechanism}}</td>
                    <td class="text-center">{{plug.giplug_Make}}</td>
                    <td class="text-center">{{plug.giplug_Model}}</td>
                    <td class="text-center">{{plug.giPressure_rating}}</td>
                    <td class="text-center">{{plug.giTemperature_rating}}</td>
                    <td class="text-center">{{plug.gi}}</td>
                    <td><a href="{% url 'bridgeplugs:update_bridgeplug' plug.id %} ">Edit</a></td>
                    <td><a href="{% url 'bridgeplugs:delete_bridgeplug' plug.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <br>
        <br> 
        <div class="d-flex justify-content-center">
            <a href="{% url 'bridgeplugs:create_bridgeplug' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>
    
</div>
{% endblock content %}