<html lang="en">
{% extends "Home/gasinjectorlayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container mt-1">   
        <div class="row"> 
            <h5 class="text-center text-success">Stimulation Operations </h5>
        </div>  
        <table class="table table-bordered">
            <thead>
                <tr class='text-center'> 
                    <th>Unit Name</th>                      
                    <th>Date</th>   
                    <th>Start Time</th> 
                    <th>End Time</th> 
                    <th>Op. Code</th> 
                    <th>Job Summary</th>                                     <                  
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in stim_ops_datas %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.giunitname}}</td>
                    <td>{{data.giop_Date}}</td>
                    <td>{{data.gitime_from}}</td>   
                    <td>{{data.gitime_to}}</td>    
                    <td>{{data.giop_code}}</td>               
                    <td>{{data.giop_details}}</td>   
                    context=(ctid, data.id)                                                                   
                    <td><a href="{% url 'gistimulationoperations:update_gistim_ops_data' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'gistimulationoperations:delete_gistim_ops_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex text-center">
            <a href="{% url 'gistimulation:list_gistimulation_data' %}" class="d-block btn btn-primary btn-sm my-2" style="margin-right: 30px;">Stimulations</a>
            <a href="{% url 'gistimulationoperations:create_gistim_ops_data' ctid %}" class="d-block btn btn-primary btn-sm my-2">Add New</a>
           
        </div>             
    </div> 
</form>
{% endblock content %}
</html>