<html lang="en">
{% extends "Home/waterinjectorlayout.html" %}

{% block content %}


<div class="container d-flex mt-0" style="width: 100%;">   
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
    <div class="row">        
        <h4 class="text-center"> Gradient Survey Data</h4>        
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; width:98%;">
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>  
                    <th class='id'>Survey Id</th>                       
                    <th class='date'>Measured Depth</th>   
                    <th class=''>Gauge Pressure (psi)</th>                   
                    <th class='liquidrate'>Gauge Temp. (deg. <sup>o</sup>F)</th>  
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for gradientsurveydata in gradientsurveydatas %}
                <tr >
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td class="">{{gradientsurveydata.wigradientsurvey_id}}</td>
                    <td class="">{{gradientsurveydata.wigauge_Depth}}</td>
                    <td class="">{{gradientsurveydata.wigauge_Pressure}}</td> 
                    <td class="">{{gradientsurveydata.wigauge_Temperature}}</td>
                    <td><a href="{% url 'wigradientsurveydata:update_wigradientsurveydata' gradientsurveydata.id %} ">Edit</a></td>
                    <td><a href="{% url 'wigradientsurveydata:delete_wigradientsurveydata' gradientsurveydata.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex text-center">
            <a href="{% url 'wigradientsurveys:list_wigradientsurvey' %}" class="d-block btn btn-primary btn-sm my-2" style="margin-right: 30px;">Gradient Surveys</a>
            <a href="{% url 'wigradientsurveydata:create_wigradientsurveydata' id %}" class="d-block btn btn-primary btn-sm my-2">Add New</a>
        </div> 
    </div>       
</div> 
<div class="container text-center">  
    {% include 'home/messages.html' %}  
    {%  if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}   
</div>
{% endblock content %}
</html>