<html lang="en">
{% extends "Home/gasinjectorlayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container mt-1">   
        <div class="row"> 
            <h4 class="text-center">Rig Workover Interventions </h5>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">       
            <thead >  
                <tr class='text-center'>  
                    <th class='name'>Rig Name</th>                      
                    <th class='date'>Start Date</th>   
                    <th class='date'>End Date</th> 
                    <th>Job Summary</th> 
                    <th>Operations</th>  
                    <th>Details</th>             
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in girig_workover_datas %}
                <tr class="text-center" >
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.girigname}}</td>
                    <td>{{data.gistart_Date}}</td>
                    <td>{{data.giend_Date}}</td>
                    <td>{{data.gijobsummary}}</td>  
                    <td><a href="{% url 'girigworkoveroperations:list_girig_wor_ops_data' data.id %} ">Operations</a></td>          
                    <td><a href="{% url 'girigworkover:detail_girig_workover_data' data.id %} ">Detail</a></td>                            
                    <td><a href="{% url 'girigworkover:update_girig_workover_data' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'girigworkover:delete_girig_workover_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <h5 class="text-center" style="color: darkred;">Average Liquid gain = {{avgliqgain}} </h5>  
        <h5 class="text-center" style="color: green;">Average Oil gain = {{avgoilgain}} </h5> 
        <div class="d-flex text-center">
            <a href="{% url 'girigworkover:create_girig_workover_data' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>
        <div class="d-flex text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart %}
                <img src="data:image/png;base64, {{chart|safe}}">
            {% endif %}   
        </div>
    </div> 
 
</form>
{% endblock content %}
</html>