<html lang="en">
{% extends "home/fieldlayout.html" %}
{% block title%}
<h4>Costant Composition Expansion PVT </h4>
{% endblock%}
{% block content %}
{% for pvt in difflibs %}
    {% for colname in pvt.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<div class="container d-flex" style="width: 100%;">   
    {%  if chart %}
        <img alt="" src="data:image/png;base64, {{chart|safe}}">
    {% endif %}
</div>
<div class="container d-flex mt-0 justify-content-center" style="width: 100%;">   
    <div class="row">        
        <h5 class="text-center text-success"> Differential Liberation Details</h5>        
        <table class='table table-striped' width="100%" style="border-color:green; border: thick 4px; ;">
            <thead>
                <tr>  
                    <th class='text-center'>Well Name</th>  
                    <th class='text-center'>Layer</th>    
                    <th class='text-center'>Sample ID</th> 
                    <th class='text-center'>Sample Date</th> 
                    <th class='text-center'>Temperature (deg<sup>o</sup>F)</th>
                    <th class='text-center'>Residual Oil Gravity (API<sup>o</sup>F)</th>
                    <th class='text-center'>Residual Oil Density (gm/cc)</th>


                    <th class='text-center'>Data</td>
                    <th class='text-center'>Update</th>
                    <th class='text-center'>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for pvt in difflibs %}
                <tr >
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td class="text-center">{{pvt.wellName}}</td>
                    <td class="text-center">{{pvt.subLayer}}</td>
                    <td class="text-center">{{pvt.sampleId}}</td>
                    <td class="text-center">{{pvt.date}}</td> 
                    <td class="text-center">{{pvt.temperature}}</td> 
                    <td class="text-center">{{pvt.residual_oil_gravity}}</td> 
                    <td class="text-center">{{pvt.residual_oil_density}}</td> 
                    <td class='text-center'><a href="{% url 'differentialliberationdata:list_difflibdata' pvt.id %}">Data</a></td>
                    <td class='text-center'><a href="{% url 'differentialliberation:update_difflib' pvt.id %} ">Update</a></td>
                    <td class='text-center'><a href="{% url 'differentialliberation:delete_difflib' pvt.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex justify-content-center">
            <a href="{% url 'differentialliberation:create_difflib' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div> 
    </div>         
</div>    
{% endblock content %}
</html>