{% extends "Home/observerlayout.html" %}

{% block content %}

<div class="container d-flex" style="width: 100%;">
    <hr>
    <div class="col">
        <hr>
        <h5 class="text-center text-success"> Cement Plugs</h5>
        <hr>
        <table class="table table-striped" style="font-size:0.8em;"  class="text-center" >
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Plug Date</th>     
                    <th class="text-center" scope="col">Plug Top</th>                    
                    <th class="text-center" scope="col">Plug Bottom</th>
                    <th class="text-center" scope="col">Cement Density</sup></th>
                    <th class="text-center" scope="col">Cement Volume</sup></th>
                    <th class="text-center" scope="col">Description</th>   
                    <th>Pump Data</th>                
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for plug in obcementplugs %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{plug.obplug_Date}}</td>
                    <td class="text-center">{{plug.obplug_Top}}</td>
                    <td class="text-center">{{plug.obplug_Bottom}}</td>
                    <td class="text-center">{{plug.obcement_Density}}</td>
                    <td class="text-center">{{plug.obcement_Volume}}</td>
                    <td class="text-center">{{plug.obplug_Description}}</td>                    
                    <td><a href="{% url 'obcementplugs:list_obcement_pumpData' plug.id %} ">Pump Data</a></td>
                    <td><a href="{% url 'obcementplugs:update_obcement_plug' plug.id %} ">Edit</a></td>
                    <td><a href="{% url 'obcementplugs:delete_obcement_plug' plug.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <br>
        <br> 
        <div class="d-flex justify-content-center">
            <a href="{% url 'obcementplugs:create_obcement_plug' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
{% endblock content %}