{% extends "Home/oillayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->
<div class="container main d-flex justify-content-center mt-0" style="width: 100%;">
    {% if wigginmodel %}
        <h4 class="text-center"> Update Wiggin's Inflow Model </h4>   
    {% else %}  
        <h4 clsss="text-center"> Create Wiggin's Inflow Model </h4>  
    {% endif %}
</div>
<div class="container main d-flex justify-content-center mt-0" style="width: 100%;">
    <div class="col mt-0">
        <form action="" method="post">
            {% csrf_token %}              
            <table class="table">
                {{form.as_table}}
            </table>           
            <div class="container d-flex justify-content-center">
                <a href="{% url 'opinflow:list_inflow' %}" class="d-block btn btn-primary btn-sm" style="margin-right: 30px; margin-top: 30px;">Inflow</a>
                <input type="submit" class="btn btn-primary btn-sm" value="Save" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'opinflow:list_inflow' %}'; return false;" value="Cancel">
            </div>           
        </form> 
    </div>
    <div class="col" > 
        <img src="data:image/png;base64, {{chart|safe}}">
    </div>  
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}