{% extends "Home/oillayout.html" %}
<title>
{% block title %}
    {% if drawdown %}
        Update Constant Pressure Drawdown Test Data
    {% else %}  
        Create Constant Pressure Drawdown Test Data  
    {% endif %}
{% endblock title %}
    </title>
{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'constantpressuredrawdowntestanalysis:list_constantpressure_test_data' as list_all %}
<div class="container main d-flex justify-content-center mt-5" >
    <div class="col mt-0">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if drawdown %}
                <h4 class="text-center"> Update Constant Pressure Drawdown Test Data </h4> 
            {% else %}  
                <h4 class="text-center">Create Constant Pressure Drawdown Test Data  </h4>    
            {% endif %}      
            <table class="table">
                {{form.as_table}}
            </table>           
            <div class="container main -flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div>          
        </form> 
    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}