<html lang="en">
{% extends "Home/Observerlayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}   
    </div>
    <div class="container mt-1">   
        <div class="row"> 
            <h4 class="text-center">Gas Shows </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; width:98%;">
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'>    
                    <th>Formatiom</th> 
                    <th>Top</th> 
                    <th>Bottom</th> 
                    <th>Total Gas(ppm)</th>  
                    <th>Methane</th>                    
                    <th>Ethane</th>   
                    <th>Propane</th>                    
                    <th>i_Butane</th> 
                    <th>n_Butane</th>                    
                    <th>i_Pentane</th>   
                    <th>n_Pentane</th>                                  
                    <th>Remarks</th>                                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in formationtops %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.obformation}}</td>
                    <td>{{data.obtop_MD}}</td>
                    <td>{{data.obbottom_MD}}</td>                    
                    <td>{{data.obtotal_gas}}</td> 
                    <td>{{data.obmethane}}</td>   
                    <td>{{data.obethane}}</td>        
                    <td>{{data.obpropane}}</td>  
                    <td>{{data.obiso_Butane}}</td>  
                    <td>{{data.obneo_Butane}}</td>        
                    <td>{{data.obiso_Pentane}}</td>  
                    <td>{{data.obneo_Pentane}}</td>  
                    <td>{{data.obremarks}}</td>                 
                    <td><a href="{% url 'obgasshows:update_obgasshow' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'obgasshows:delete_formationtops' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'obgasshows:create_obgasshow' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>