{% extends "home/oillayout.html" %}
<title>
    {% block title%}
        Delete Drilling Operations
    {% endblock %}
</title>
{% block content %}

{% url 'drillingoperations:list_drilling_ops' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col text-center">
        <h5 class="text-center">Delete Drilling Summary </h5>
        <p class="h5 text-danger">Are you sure you want to delete the Drilling Operation with Start Time :</p>
        <h3 class="text-center">{{ drilling_ops.time_From }}</h3>
        <form action="" method="POST">
            {% csrf_token %}  
            {% comment %} 
            <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{% url 'drillingoperations:list_drilling_ops' ctid %}'; return false;" >{% endcomment %}        
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;"onclick="window.location='{% url 'drillingoperations:list_drilling_ops' %}'; return false;" value="Cancel">
        </form>
    </div>
</div>

{% endblock %}