{% extends "Home/oillayout.html" %}
<title>
    {% block title %}
        {% if drilling_plan %}
            Update Drilling Plan
        {% else %}  
            Create Drilling Plan     
        {% endif %} 
    {% endblock %}
</title>

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'drillingplanvsactual:list_drilling_plan' as list_all %}
<div class="container main d-flex justify-content-center" >
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            {% if drilling_plan %}
            <h4 class="text-center">Update Drilling Plan Vs Actlal </h4> 
            {% else %}  
            <h4 class="text-center">Create Drilling Plan Vs Actlal </h4>    
            {% endif %} 


            <table class="table">                
                {{form.as_table}}
            </table>
            <div class="container main d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;" >
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div> 
           
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}