{% extends "Home/oillayout.html" %}
<title>
    {% block title %}
        Drilling Plan Vs Actual
    {% endblock %}
</title>

{% block content %}
<div class="container main d-flex" >
    <div class="col">
        <h4 class="text-center">Drilling Plan Vs Actual</h4>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead >
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}                                    
                    <th class="text-center" scope="col">Section</th>
                    <th class="text-center" scope="col">Planed Depth (ft) </th>
                    <th class="text-center" scope="col">Planned Days </th>  
                    <th class="text-center" scope="col">Actual Depth (ft) </th> 
                    <th class="text-center" scope="col">Actual Days </th> 
                    <th class="text-center" scope="col">Reason for Deviation </th> 
                    <th class="text-center" scope="col">Edit</th>   
                    <th class="text-center" scope="col">Delete</th>                   
            </thead>
            <tbody>            
                {% for data in drilling_plans %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{data.section}}</td>
                    <td class="text-center">{{data.section_Depth_Plan}}</td>
                    <td class="text-center">{{data.plan_Days}}</td>
                    <td class="text-center">{{data.section_Depth_Actual}}</td>   
                    <td class="text-center">{{data.actual_Days}}</td> 
                    <td class="text-center">{{data.reason_for_Deviation}}</td> 
                    <td><a href="{% url 'drillingplanvsactual:update_drilling_plan' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'drillingplanvsactual:delete_drilling_plan' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <div class="d-flex justify-content-center" style="width:15%;">
            <a href="{% url 'drillingplanvsactual:create_drilling_plan' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
<div class="container text-center">  
    {% include 'home/messages.html' %}  
    {%  if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}   
</div>
{% endblock content %}