{% extends "Home/gasinjectorlayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'giloganalysis:list_giloganalysis' as list_all %}
<div class="container d-flex justify-content-center" style="width: 25%;">
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if log %}
                <h5 class="text-center text-success">Update Log Analysis </h5> 
            {% else %}  
                <h5 class="text-center text-success">Create Log Analysis</h5>    
            {% endif %} 
            <table class="table">
                {{form.as_table}}
            </table>
            <div class="text-cente">
                <h6 class="text-success">Current Image</h5> 
                <img src="{{log.logImage.url}}" alt="CurrentImage" style="max-height:300px"> 
            </div> 
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div>    
        </form>         
    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}