{% extends "home/fieldwidelayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'oilfields:all' as list_all %}
<div class="container d-flex justify-content-center" >
    <div class="col mt-1">
        <form action="" method="post">
            {% csrf_token %}           
            {% if object  %}           
                <h4 class="text-center">Update Field Details </h4> 
            {% else %}  
                <h4 class="text-center">Create Field Details</h4>    
            {% endif %} 
            <hr>
            <table class="table table-striped" style="font-size:0.8em;"  class="text-center" >                
                {{form.as_table}}
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div>    
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}