{% extends "home/fieldwidelayout.html" %}

{% block content %}

<div class="container mt-1" style="width: 70%;">
    <div class="col">
        <h5 class="text-center text-success">Field Details</h5>
        <div class="d-flex justify-content-center">
            <table class="table table-striped mt-5" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="oilfieldname">Field Name</th>
                        <th scope="description">Description</th>
                        <th scope="area">Area (sq.km)</th>
                        <th scope="year">Discovered Year</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for label, pk in oilfields.get_fields  %}
                        <tr>
                            <td>{{label | upper}}</td>
                            <td>{{pk.oilfieldname}}</td>
                        </tr>
                    {% endfor %}
                        
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a href="{% url 'blocks:all' %}" class="d-block btn btn-primary btn-lg my-5">BACK</a>
        </div>
    </div>
        
</div>

{% endblock  %}