{% extends "home/oillayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->

<div class="container d-flex justify-content-center mt-5" style="width: 20%;">
    <div class="col mt-0">
        <form action="" method="post">
            {% csrf_token %}
            {% if gradientsurveydata %}
                <h5> Update Gradient Survey Data</h5> 
            {% else %}  
                <h5>Create Gradient Survey Data</h5>    
            {% endif %}      
            <table class="table">
                {{form.as_table}}
            </table>           
            <div class="container text-center">
                <a href="{% url 'opgradientsurveydata:list_gradientsurveydata' 2 " class="btn btn-primary btn-sm" >Gradient Surveys</a>
                <input type="submit" class="btn btn-primary btn-sm" value="Save" >
                <input type="submit" class="btn btn-danger btn-sm"  onclick="window.location='{% url 'opgradientsurveydata:list_gradientsurveydata' 2 %}'; return false;" value="Cancel">
            </div> 
          
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}