{% extends "Home/gaslayout.html" %}

{% block content %}
{% include 'home/messages.html' %}  
{% url 'gpconstantratedrawdowntestanalysis:list_gpconst_rate_drawdown_test_data' as list_all %}

<div class="container d-flex justify-content-center mt-1" style="width: 70%;">
    <div class="col mt-0">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="text-center text-success text-bold">Drawdown Test Analysis- Constant Rate </h4> 
       
            <div class="text-center">  
                {%  if chart %}
                    <img src="data:image/png;base64, {{chart|safe}}">
                {% endif %}   
            </div>
            <table class="table">
                {{form.as_table}}
            </table>  
            <h6  class="text-center text-success">** Guess Value is the nth data point where the deviation from straight line occurs</h6>  
            <h6  class="text-center text-success">** Change the Guess Value to match the data</h6>             
            <div class="container d-flex justify-content-center" style="width: 30%;">
                <input type="submit" class="btn btn-primary" value="Save" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">               
            </div> 
            <div class="container d-flex justify-content-center" style="width: 30%;">
                <a href="{% url 'gpconstantratedrawdowntestanalysis:list_gpconst_rate_drawdown_test_data' %}" class="d-block btn btn-primary btn-sm my-3">Back to Constant Rate Test </a>
            </div> 
        </form> 

    </div>
</div>

{% endblock  %}