<html lang="en">
{% extends "Home/oillayout.html" %}

{% block content %}
{% for data in shows %}
    {% for colname in data.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %} 
    </div>
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center ">Oil Shows </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; ">            
            <thead >
                <tr class='text-center'>    
                    <th>Formatiom</th> 
                    <th>Top</th> 
                    <th>Bottom</th> 
                    <th>Sample Type</th>  
                    <th>Sample Description</th>  
                    <th>Remarks</th>                                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in shows %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.formation}}</td>
                    <td>{{data.top_MD}}</td>
                    <td>{{data.bottom_MD}}</td>                    
                    <td>{{data.sample_Type}}</td> 
                    <td>{{data.sample_Description}}</td>                       
                    <td>{{data.remarks}}</td>                 
                    <td><a href="{% url 'oilshows:update_oilshow' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'oilshows:delete_oilshow' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'oilshows:create_oilshow' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>