<html lang="en">
{% extends "home/oillayout.html" %}

{% block content %}
{% url 'rigless:list_rigless_data' as list_all %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center">Rigless Interventions </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">       
            <thead style="background-color:rgb(106, 130, 238);">  
                <tr class="text-center">  
                    <th>Unit Name</th>                      
                    <th>Start Date</th>   
                    <th>End Date</th>  
                    <th>Job Summary</th>
                    <th>Operations</th> 
                    <th>Details</th>                 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in rigless_datas %}
                <tr >
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td class="text-center">{{data.unitname}}</td>
                    <td class="text-center">{{data.start_Date}}</td>
                    <td class="text-center">{{data.end_Date}}</td>
                    <td class="text-center">{{data.jobsummary}}</td>  
                    <td><a href="{% url 'riglessoperations:list_rigless_ops_data' data.id %} ">Operations</a></td>       
                    <td><a href="{% url 'rigless:detail_rigless_data' data.id %} ">Details</a></td>            
                    <td><a href="{% url 'rigless:update_rigless_data' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'rigless:delete_rigless_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <h5 class="text-center" style="color: darkred;">Average Liquid gain = {{avgliqgain}} </h5>  
        <h5 class="text-center" style="color: green;">Average Oil gain = {{avgoilgain}} </h5> 
        <div class="d-flex text-center">
            <a href="{% url 'rigless:create_rigless_data' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
    <div class="container main text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
</form>
{% endblock content %}
</html>