<html lang="en">
{% extends "Home/observerlayout.html" %}

{% block content %}
{% for data in logs %}
    {% for colname in data.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
    </div>
    <div class="container mt-1">   
        <div class="row"> 
            <h4 class="text-center">Recorded Logs </h4>
        </div>      
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em; ">           
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'>    
                    <th>Survey Date</th> 
                    <th>Hole Size</th> 
                    <th>Log Type</th> 
                    <th>Tool String</th>  
                    <th>Depth From (ft) </th>  
                    <th>Depth To (ft)</th> 
                    <th>Interpretation</th> 
                    <th>File Type</th>  
                    <th>Data File</th>                                    
                    <th>Remarks</th>  
                    <th>View Log</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in logs %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.obsurvey_Date}}</td>
                    <td>{{data.obhole_size}}</td>
                    <td>{{data.oblog_Type}}</td>                    
                    <td>{{data.obtool_string}}</td> 
                    <td>{{data.obfrom_MD}}</td>   
                    <td>{{data.obto_MD}}</td>   
                    <td>{{data.obinterpretation}}</td> 
                    <td>{{data.obfile_type}}</td>  
                    <td>{{data.obfile_Name}}</td> 
                    <td>{{data.obremarks}}</td> 
                    <td><a href="{% url 'obrecordedlogs:view_log_from_data' data.id %}" >View</a></td>
                    <td><a href="{% url 'obrecordedlogs:update_obrecorded_logs' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'obrecordedlogs:delete_obrecorded_logs' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'obrecordedlogs:create_obrecorded_logs' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>