<html lang="en">
{% extends "Home/gasinjectorlayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container mt-1">   
        <div class="row"> 
            <h4 class="text-center">Coil Tubing Interventions </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; width: 98%;">           
            <thead>
                <tr class='text-center'>  
                    <th>CT Name</th>                      
                    <th>Start Date</th>   
                    <th>End Date</th> 
                    <th>Job Summary</th> 
                    <th>Operation</th>  
                    <th>Gains</th>                                     
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in coil_tubing_datas %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.gictname}}</td>
                    <td>{{data.gistart_Date}}</td>
                    <td>{{data.giend_Date}}</td>                    
                    <td>{{data.gijobsummary}}</td> 
                    <td><a href="{% url 'gicoiltubingoperations:list_gicoil_tubing_ops_data' data.id %}">Operation</a></td> 
                    <td><a href="{% url 'gicoiltubing:detail_gicoil_tubing_data' data.id %}">Gains</a></td>                
                    <td><a href="{% url 'gicoiltubing:update_gicoil_tubing_data' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'gicoiltubing:delete_gicoil_tubing_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <h5 class="text-center" style="color: darkred;">Average Liquid gain = {{avgliqgain}} </h5>  
        <h5 class="text-center" style="color: green;">Average Oil gain = {{avgoilgain}} </h5> 
        <div class="d-flex text-center">
            <a href="{% url 'gicoiltubing:create_gicoil_tubing_data' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>  
        <div class="row text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart %}
                <img src="data:image/png;base64, {{chart|safe}}">
            {% endif %}   
        </div>           
    </div> 
   
</form>
{% endblock content %}
</html>