{% extends "home/oillayout.html" %}

{% block content %}
{% for fish in fishes %}
    {% for colname in fish.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
{% url 'flowtest:update_flowtest' as Update %}
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="container main" style="width:100%;" >       
        <h3 class="text-center">SRP Design</h3>        
        <div class="row">
            <div class="col-md-7">
                <div class="card"> 
                    <div class="card-header" >                
                        <h3 class="text-center">SRP Design Data</h3> 
                    </div>               
                    <div class="card-body">             
                <table class="table table-bordered" style="border: 2px; border-width:2px; font-size:medium; ">               
                    <thead style="background-color:rgb(106, 130, 238);">
                    {{form.as_table}}
                </table>
                    </div> 
                </div> 
            </div> 
            <div class="col-md-5"> 
                <div class="card"> 
                    <div class="card-header" style="font-size: 0,73em;">
                        <h3>Calculated Parameters</h3>
                    </div>               
                    <div class="card-body" style="font-size:medium;">             
                         <div class="row">
                            <div class="col-md-8">
                                <p>Total Mass Flowrate (lbs/d)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.total_mass_flowrate}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Composite Specific Gravity</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.composite_spgr}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Pump Intake Pressure (psi)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.pip}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Pump Discharge Pressure (psi)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.discharge_pres}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Mid Perforation Depth (ft)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.mid_perf_depth}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Tubing Length (ft)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.tbg_length}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Tubing Id (Inch)</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.tbg_id}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Pump Displacement (bbls/da)</p>
                            </div>
                            <div class="col-md-4">
                                {{PD}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Peak Ploished Rod Load (lbs)</p>
                            </div>
                            <div class="col-md-4">
                                {{PPRL}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Minimum Ploished Rod Load (lbs)</p>
                            </div>
                            <div class="col-md-4">
                                {{MPRL}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Peak Torque (lbs)</p>
                            </div>
                            <div class="col-md-4">
                                {{PT}}
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-8">
                                <p>Polished Rod Horse Power (hP)</p>
                            </div>
                            <div class="col-md-4">
                                {{PRHP}}
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col-md-8">
                                <p>Required Counter Weight (lbs)</p>
                            </div>
                            <div class="col-md-4">
                                {{CBE}}
                            </div>
                        </div>                            
                        <div class="row">
                            <div class="col-md-8">
                                <p>Rod Weight</p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.rod_Weight}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Rod No </p>
                            </div>
                            <div class="col-md-4">
                                {{srpdata.rod_No}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Additional Power for Seal (Hp) </p>
                            </div>
                            <div class="col-md-4">
                                {{espdata.required_seal_hp}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p>Total Power Required (Hp) </p>
                            </div>
                            <div class="col-md-4">
                                {{espdata.total_power_required}}  
                            </div>
                        </div>                            
                        <div class="row">
                            <div class="col-md-8">
                                <p>Best Efficiency (%) </p>
                            </div>
                            <div class="col-md-4">
                                {{espdata.best_efficiency}}
                            </div>
                        </div>
                    </div> 
                </div>                     
            </div> 
        </div>       
 
        <h3 class="text-center">ESP Design for the above data</h3>  
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart3 %}
                <img src="data:image/png;base64, {{chart3|safe}}" >
            {% endif %}   
        </div>
        <br>
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart2 %}
                <img src="data:image/png;base64, {{chart2|safe}}" >
            {% endif %}   
        </div>
        <br>
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart1 %}
                <img src="data:image/png;base64, {{chart1|safe}}" >
            {% endif %}   
        </div> 
        <br>
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart %}
                <img src="data:image/png;base64, {{chart|safe}}" >
            {% endif %}   
        </div>
        <div class="row">     
            <div class="col-md-3 ">            
                <a href="{% url 'espdesign:list_esp_design_data' %}" class="d-block btn btn-primary">ESP Design Data</a>
            </div>
            <div class="col-md-3 ">            
                <a href="{% url 'flowtest:production_home' %}" class="d-block btn btn-primary">Production Home</a>
            </div>
        </div>
        <br>                  
    </div>
</form>
{% endblock content %}