{% extends "Home/oillayout.html" %}
<title>    
    {% block title %}   
    {% if log %}
        Update Log Analysis 
    {% else %}
        Create Log Analysis 
    {% endif %}        
    {% endblock title %}        
</title>

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'loganalysis:list_loganalysis' as list_all %}
<div class="container main d-flex justify-content-center" >
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if log %}
                <h4 class="text-center">Update Log Analysis </h4> 
            {% else %}  
                <h4 class="text-center">Create Log Analysis</h4>    
            {% endif %} 
            <table class="table">
                {{form.as_table}}
            </table>
            <div class="text-cente">
                <h4 class="text-success">Current Image</h4> 
                <img src="{{log.logImage.url}}" alt="CurrentImage" style="max-height:300px"> 
            </div> 
            <div class="container style="width: 30%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div>    
        </form>         
    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}