{% extends "Home/oillayout.html" %}
<title>
    {% block title%}
        Drilling Summary
    {% endblock %}
</title>
{% block content %}
<div class="container main d-flex" style="width: 100%;">
    <div class="col">
        <h4 class="text-center">Drilling Summary</h4>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}   
                    <th class="text-center" scope="col">Id</th>                                 
                    <th class="text-center" scope="col">Start Date</th>
                    <th class="text-center" scope="col">End Date </th>
                    <th class="text-center" scope="col">Liquid Rate (bbls/d)</th>  
                    <th class="text-center" scope="col">Water Cut (%) </th>  
                    <th class="text-center" scope="col">GOR (scf/bbl) </th>  
                    <th class="text-center" scope="col">Oil Rate (bbls/d)</th>   
                    <th class="text-center" scope="col">Gas Rate (Mscf/d) </th>                       
                    <th class="text-center" scope="col">Edit</th>   
                    <th class="text-center" scope="col">Delete</th>                   
            </thead>
            <tbody>            
                {% for data in d_summaries %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{data.id}}</td>
                    <td class="text-center">{{data.start_Date}}</td>
                    <td class="text-center">{{data.end_Date}}</td>
                    <td class="text-center">{{data.liquid_Rate}}</td>
                    <td class="text-center">{{data.water_Cut}}</td>   
                    <td class="text-center">{{data.gas_Oil_Ratio}}</td>  
                    <td class="text-center">{{data.oil_Rate}}</td>                                    
                    <td class="text-center">{{data.gas_Rate}}</td>                                     
                    <td><a href="{% url 'drillingsummary:update_drillingsummary' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'drillingsummary:delete_drillingsummary' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
       
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %} 
                    <th class="text-center" scope="col">Summary</th> 
            </thead>
            <tbody>            
                {% for data in d_summaries %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}  
                    <td class="justify-content-center">{{data.drilling_Summary}}</td> 
                </tr>
            {% endfor %}        
            </tbody>
        </table> 
        <div class="d-flex justify-content-center" style="width: 15%;">
            <a href="{% url 'drillingsummary:create_drillingsummary' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'drillingoperations:list_drilling_ops' %}" class="d-block btn btn-primary my-5">Drilling Ops</a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'cementplugs:list_cement_plug' %} " class="d-block btn btn-primary my-5">Cement Plugs</a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'bridgeplugs:list_bridgeplug' %} " class="d-block btn btn-primary my-5">Bridge plugs</a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'drillingproblems:list_drilling_problem' %} " class="d-block btn btn-primary my-5">Drilling Probs</a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'drillingplanvsactual:list_drilling_plan' %} " class="d-block btn btn-primary my-5">Plan Vs Actual</a>
            </div>
        </div>
    </div>        
</div>
{% endblock content %}