<html lang="en">
{% extends "Home/oillayout.html" %}
<title>
{% block title %}
    Multi-Rate PUB Test Design 
{% endblock title %}
</title>
{% block content %}

<form action="" enctype="multipart/form-data" method="POST">

    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center">Multi-Rate PUB Test Design </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead >
                <tr class='text-center'>  
                    <th>Porosity (fr)</th> 
                    <th>Thickness (ft)</th>  
                    <th>Wellbore Radius</th>  
                    <th>Compressibility (ft)</th>  
                    <th>Initial Res. Pres(psi)</th>  
                    <th>Oil Viscosity (cp)</th>  
                    <th>Oil FVF</th>                     
                    <th>Analysis</th>                               
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in drawdown_test_datas %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                     
                    <td>{{data.layer_Porosity_fraction}}</td>                    
                    <td>{{data.layer_Thickness_ft}}</td>
                    <td>{{data.wellbore_Radius_ft}}</td>
                    <td>{{data.total_Compressibility}}</td>
                    <td>{{data.initial_Res_Pres_psi}}</td>                    
                    <td>{{data.oil_Viscosity_cP}}</td> 
                    <td>{{data.oil_FVF_Bo}}</td> 
                    <td><a href="{% url 'multiratedrawdowntestanalysis:upload_Multi_Rate_test_data' data.id %}" >Analysis</a></td>                                                 
                    <td><a href="{% url 'multiratedrawdowntestanalysis:update_multirate_test_data' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'multiratedrawdowntestanalysis:delete_multirate_test_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex text-center">
            <a href="{% url 'multiratedrawdowntestanalysis:create_multirate_test_data' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
</form>
{% endblock content %}
</html>