{% extends "home/oillayout.html" %}
{% block title %}
Upload Excel File
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container main ">
    <h4 class="text-center">Import well objective Excel data</h4>   
  </div>
  <div class="container main">
    <div class="row">
      <div class="col">
        <input type="file" name="myfile" class="form-control">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success" >Upload data using Pandas</button> 
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex container main" class="width:15%">
    <a href="{% url 'opwellobjectives:list_opwellobjective' %}" class="d-block btn btn-primary m-2 ">Back to Well Objective</a>
  </div>  
</form>   
{% endblock %}
