{% extends "Home/oillayout.html" %}
<title>
    {% block title %}
        {% if opwellobjectivedata %}
            Update Well Objective Data
        {% else %}  
            Create Well Onjective Data     
        {% endif %} 
    {% endblock %}
</title>

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'opwellobjectivedata:list_opwellobjectivedata' as list_all %}
<div class="container main d-flex justify-content-center mt-5" >
    <div class="col mt-0">
        <form action="" method="post">
            {% csrf_token %}
            {% if opwellobjectivedata %}
                <h4 class="text-center">Update Well Objective Data </h4>   
            {% else %}      
                <h4 class="text-center">Create Well Objective  Data</h4>   
            {% endif %}            
            <table class="table">
                {{form.as_table}}
            </table>           
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'opwellobjectivedata:list_opwellobjectivedata' objid %}'; return false;" value="Cancel">
            </div> 
          
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}