{% extends "home/oillayout.html" %}
{% block title %}
Upload Excel File
{% endblock %}
{% block content %}

<div class="container">
    
    <form method="POST" action="UploadExcel" enctype="multipart/form-data">
       <div class="row">
           <div class="col-md-9">
               <input type="file" id="myfile" name="myfile" class="form-control" accept=".csv" style="font-size:large" />
           </div>
           <div class="col-md-3">
               <input type="submit" title="Upload" value="Upload" class="btn btn-success" style="font-size:large" />
           </div>
       </div>
       <div clsass="row">
           <div class="col-lg-12">
               <br />
               <span style="color:red;">
                   @TempData["Message"]
               </span>
           </div>
       </div>
    <form>
        
</div>
{% endblock %}