<html lang="en">
{% extends "Home/gaslayout.html" %}

{% block content %}
{% for data in logs %}
    {% for colname in data.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
    </div>
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center">Recorded Logs </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; ">     
            <thead>
                <tr class='text-center'>    
                    <th>Survey Date</th> 
                    <th>Hole Size</th> 
                    <th>Log Type</th> 
                    <th>Tool String</th>  
                    <th>Depth From (ft) </th>  
                    <th>Depth To (ft)</th> 
                    <th>Interpretation</th> 
                    <th>File Type</th>  
                    <th>Data File</th>                                    
                    <th>Remarks</th>  
                    <th>View Log</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in logs %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.gpsurvey_Date}}</td>
                    <td>{{data.gphole_size}}</td>
                    <td>{{data.gplog_Type}}</td>                    
                    <td>{{data.gptool_string}}</td> 
                    <td>{{data.gpfrom_MD}}</td>   
                    <td>{{data.gpto_MD}}</td>   
                    <td>{{data.gpinterpretation}}</td> 
                    <td>{{data.gpfile_type}}</td>  
                    <td>{{data.gpfile_Name}}</td> 
                    <td>{{data.gpremarks}}</td> 
                    <td><a href="{% url 'gprecordedlogs:view_log_from_data' data.id %}" >View</a></td>
                    <td><a href="{% url 'gprecordedlogs:update_gprecorded_logs' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'gprecordedlogs:delete_gprecorded_logs' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'gprecordedlogs:create_gprecorded_logs' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>