{% extends "home/oillayout.html" %}

{% block content %}
{% for fish in fishes %}
    {% for colname in fish.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
{% url 'flowtest:update_flowtest' as Update %}
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="container main" style="width:100%;" >       
        <h3 class="text-center">ESP Design Data</h3>        
        <table class="table table-striped table-bordered " style="border: 2px; border-width:2px; font-size:0.60em;">               
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center">Date</th>     
                    <th class="text-center">Liquid Rate (BLPD)</th>                    
                    <th class="text-center">Water Cut (%)</th>
                    <th class="text-center">Water Salinity (ppm)</th>
                    <th class="text-center">THP (psi)</sup></th>   
                    <th class="text-center">THT (deg F)</sup></th>                 
                    <th class="text-center">Res. Pr (psi)</th>                    
                    <th class="text-center">Min Pwf (psi)</sup></th>
                    <th class="text-center">GOR (scf/bbl)</sup></th>
                    <th class="text-center">Gas Separator</th>   
                    <th class="text-center">Sep. Eff (%) </th> 
                    <th class="text-center">Pump Depth (ft) </th> 
                    <th class="text-center">TDH</th>    
                    <th class="text-center">Pump</th>                     
                    <th class="text-center">Motor</th> 
                    <th>Design</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in espdatas %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{data.design_Date}}</td>
                    <td class="text-center">{{data.design_Liquid}}</td>
                    <td class="text-center">{{data.water_Cut}}</td>
                    <td class="text-center">{{data.water_Salinity}}</td>
                    <td class="text-center">{{data.th_Pres}}</td>                    
                    <td class="text-center">{{data.th_Temp}}</td> 
                    <td class="text-center">{{data.curr_Res_Pres}}</td> 
                    <td class="text-center">{{data.min_Pwf}}</td> 
                    <td class="text-center">{{data.gas_Oil_Ratio}}</td> 
                    <td class="text-center">{{data.gas_Separator}}</td>                    
                    <td class="text-center">{{data.gas_Separator_Efficiency }}</td>   
                    <td class="text-center">{{data.pump_depth }}</td> 
                    <td class="text-center">{{data.tdh}}</td> 
                    <td class="text-center">{{data.pump}}</td> 
                    <td class="text-center">{{data.motor}}</td> 
                    <td><a href="{% url 'espdesign:esp_design' data.id %}">Design</a></td>
                    <td><a href="{% url 'espdesign:update_esp_design_data' data.id %}">Update</a></td>
                    <td><a href="{% url 'espdesign:delete_esp_design_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>          
        <div class="row">     
            <div class="col-md-2 ">            
                <a href="{% url 'espdesign:create_esp_design_data' %}" class="d-block btn btn-primary">Add New</a>
            </div>
            <div class="col-md-3 ">            
                <a href="{% url 'flowtest:production_home' %}" class="d-block btn btn-primary">Production Home</a>
            </div>
        </div> 
        <h3 class="text-center">ESP Design for the latest data</h3>    
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart3 %}
                <img src="data:image/png;base64, {{chart3|safe}}" >
            {% endif %}   
        </div>
        <br>
        <h3 class="text-center">ESP Performance Plot</h3>    
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart2 %}
                <img src="data:image/png;base64, {{chart2|safe}}" >
            {% endif %}   
        </div>
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart1 %}
                <img src="data:image/png;base64, {{chart1|safe}}" >
            {% endif %}   
        </div>
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart %}
                <img src="data:image/png;base64, {{chart|safe}}" >
            {% endif %}   
        </div>
    </div>
</form>
{% endblock content %}