{% extends "home/oillayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->

<div class="container d-flex justify-content-center" style="width: 75%;">
    <div class="col">
        <form action="" method="post">
            {% csrf_token %}
            {% if drillingproblem %}
            <h5 class="text-center text-success">Update Drilling Problem </h5> 
            {% else %}  
            <h5 class="text-center text-success">Create Drilling Problem</h5>    
            {% endif %} 
            <table class="table">                
                {{form.as_table}}
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;" >
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'drillingproblems:list_drilling_problem' id %}'; return false;" value="Cancel">
            </div> 
           
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}