{% extends "home/gaslayout.html" %}
{% block content %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" > 
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="container main d-flex" style="width: 100%;"> 
    <div class="col">
        <h5 class="text-center text-success">Drilling Operation Details</h5>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em;">
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}                                    
                    <th class="text-center" scope="col">Id</th>
                    <th class="text-center" scope="col">Date</th>
                    <th class="text-center" scope="col">Time From </th>
                    <th class="text-center" scope="col">Time To </th>  
                    <th class="text-center" scope="col">Total Time (hrs)</th>  
                    <th class="text-center" scope="col">Ops Code </th> 
                    <th class="text-center" scope="col">Operations </th> 
                    <th class="text-center" scope="col">Edit</th>   
                    <th class="text-center" scope="col">Delete</th>                   
            </thead>
            <tbody>            
                {% for data in gpdrilling_opss %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{data.gpid}}</td>                    
                    <td class="text-center">{{data.gpops_Date}}</td>
                    <td class="text-center">{{data.gptime_From}}</td>
                    <td class="text-center">{{data.gptime_To}}</td>
                    <td class="text-center">{{data.gptotalhrs}}</td>
                    <td class="text-center">{{data.gpops_Code}}</td>   
                    <td class="text-center">{{data.gpops_Summary}}</td> 
                    <td><a href="{% url 'gpdrillingoperations:update_gpdrilling_ops' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'gpdrillingoperations:delete_gpdrilling_ops' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <br>
        <br> 
        <div class="d-flex justify-content-center">
            <a href="{% url 'gpdrillingoperations:create_gpdrilling_ops' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
<div class="container main text-center">  
    {% include 'home/messages.html' %}  
    {%  if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}   
</div>
{% endblock content %}