{% extends "Home/gasinjectorlayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->

<div class="container d-flex justify-content-center mt-5" style="width: 25%;">
    <div class="col mt-0">
        <form action="" method="post">
            {% csrf_token %}
            {% if gradientsurvey %}
                <h4>Create / Update Gradient Survey</h4> 
            {% else %}  
                <h4>Create Gradient Survey</h4>    
            {% endif %}      
            <table class="table">
                {{form.as_table}}
            </table>           
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'gigradientsurveys:list_gigradientsurvey' %}'; return false;" value="Cancel">
            </div> 
          
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}