<html lang="en">
{% extends "Home/gaslayout.html" %}

{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %} 
    </div>
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center">Formation Pressures </h4>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; width: 98%;">
            {% csrf_token %}
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'>  
                    <th>Hole Size</th>                      
                    <th>Group</th>   
                    <th>Formatiom</th> 
                    <th>Member</th> 
                    <th>Measured Depth (ft)</th> 
                    <th>Pressure (psi)</th>  
                    <th>Porosity (%) </th>                    
                    <th>Permeability (mD)</th>  
                    <th>Temperature  (deg F)</th> 
                    <th>Remarks</th>                                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in pressures %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.gphole_size}}</td>
                    <td>{{data.gpstat_Group}}</td>
                    <td>{{data.gpstat_Formation}}</td>                    
                    <td>{{data.gpstat_Member}}</td> 
                    <td>{{data.gpmeasured_Depth}}</td>   
                    <td>{{data.gppressure}}</td>        
                    <td>{{data.gpporosity}}</td>  
                    <td>{{data.gppermeability}}</td>  
                    <td>{{data.gptemperature}}</td>  
                    <td>{{data.gpremarks}}</td>                 
                    <td><a href="{% url 'gpformationpressure:update_gpformation_Pressure' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'gpformationpressure:delete_gpformation_Pressure' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
         
        <div class="d-flex text-center">
            <a href="{% url 'gpformationpressure:create_gpformation_Pressure' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
</form>
{% endblock content %}
</html>