{% extends "home/oillayout.html" %}

{% block content %}
{% for fish in fishes %}
    {% for colname in fish.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
{% url 'flowtest:update_flowtest' as Update %}
<form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="container main" style="width:100%;" >       
        <h3 class="text-center">Gas Lift Design</h3>        
        <table class="table table-striped table-bordered " style="border: 2px; border-width:2px; font-size:0.75em;">               
            <thead style="background-color:rgb(106, 130, 238);">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center">Date</th>     
                    <th class="text-center">Liquid Rate (BLPD)</th>                    
                    <th class="text-center">Water Cut (%)</th>
                    <th class="text-center">THP (psi)</sup></th>   
                    <th class="text-center">THT (deg F)</sup></th>                 
                    <th class="text-center">Gas Inj. Pres (psi)</th>
                    <th class="text-center">Kick Off Pres (psi)</th>
                    <th class="text-center">Available Gas (Mscfd)</sup></th>
                    <th class="text-center">Kill Fluid Grad (psi/ft)</th>   
                    <th class="text-center">Port Size (Inch) </th>   
                    <th class="text-center">Min. Valve Spacing (ft)</th> 
                    <th>Design</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in gasliftdatas %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{data.design_Date}}</td>
                    <td class="text-center">{{data.design_Liquid}}</td>
                    <td class="text-center">{{data.water_Cut}}</td>
                    <td class="text-center">{{data.th_Pres}}</td>                    
                    <td class="text-center">{{data.th_Temp}}</td> 
                    <td class="text-center">{{data.gas_Inj_Pres}}</td> 
                    <td class="text-center">{{data.kick_Off_Pres}}</td> 
                    <td class="text-center">{{data.available_Gas}}</td> 
                    <td class="text-center">{{data.kill_Fluid_Grad}}</td>                    
                    <td class="text-center">{{data.port_Size}}</td>                
                    <td class="text-center">{{data.min_Valve_Sapcing}}</td> 
                    <td><a href="{% url 'gaslift:design_gas_lift' data.id %}">Design</a></td>
                    <td><a href="{% url 'gaslift:update_gas_lift' data.id %}">Update</a></td>
                    <td><a href="{% url 'gaslift:delete_gas_lift' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>          
        <div class="row">     
            <div class="col-md-2 ">            
                <a href="{% url 'gaslift:create_gas_lift' %}" class="d-block btn btn-primary">Add New</a>
            </div>
            <div class="col-md-2 ">            
                <a href="{% url 'flowtest:production_home' %}" class="d-block btn btn-primary">Production Home</a>
            </div>
        </div> 
        <h3 class="text-center">Gas Lift Design for the latest data</h3>    
        <div class="text-center">  
            {% include 'home/messages.html' %}  
            {%  if chart %}
                <img src="data:image/png;base64, {{chart|safe}}" >
            {% endif %}   
        </div>
           
    </div>
</form>
{% endblock content %}