{% extends "Home/oillayout.html" %}
<title>
    
    {% block titlt %}
        Fish Details
    {% endblock titlt %}
        
</title>
{% block content %}
<div class="container main d-flex" style="width: 100%;">
    <hr>
    <div class="col">
        <h4 class="text-center text-success">Fish Details</h4>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em; ">
            <thead >
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Fish Date</th>     
                    <th class="text-center" scope="col">Top</th>                    
                    <th class="text-center" scope="col">Bottom</th>
                    <th class="text-center" scope="col">Nature</sup></th>
                    <th class="text-center" scope="col">Description</th>                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for fish in fishes %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{fish.fish_Date}}</td>
                    <td class="ml-5">{{fish.fish_Top}}</td>
                    <td class="text-center">{{fish.fish_Bottom}}</td>
                    <td class="text-center">{{fish.fish_Nature}}</td>
                    <td class="text-center">{{fish.fish_Description}}</td> 
                    <td><a href="{% url 'fish:update_fish' fish.id %} ">Edit</a></td>
                    <td><a href="{% url 'fish:delete_fish' fish.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <div class="d-flex justify-content-center" style="width: 10%;">
            <a href="{% url 'fish:create_fish' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
{% endblock content %}