{% extends "home/oillayout.html" %}
{% block content %}

{% url 'fish:list_fish' as list_all %}

<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col text-center">
        <h5 class="text-center text-success">Delete Fish</h5>
        <p class="h5 text-danger">Are you sure you want to delete the Fish:</p>
        <h5 class="text-center">{{ fish.fish_Nature }}</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{{list_all}}; return false;'"">{% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
        </form>
    </div>
</div>

{% endblock %}