<html lang="en">
{% extends "home/oillayout.html" %}
{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container main mt-1">   
        <div class="row"> 
            <h4 class="text-center">Slickline Interventions </h4>
        </div>  
        <table id="selectedfgitable" class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead>   
                <tr class="text-center">  
                    <th class='name'>Unit Name</th>                      
                    <th class='date'>Start Date</th>   
                    <th class='date'>End Date</th> 
                    <th class='gasoilratio'>Job Summary</th>   
                    <th>Operations</th>
                    <th>Details</th>                                   
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in slick_datas %}
                <tr class="text-center">
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.unitname}}</td>
                    <td>{{data.start_Date}}</td>
                    <td>{{data.end_Date}}</td>                    
                    <td>{{data.jobsummary}}</td>   
                    <td><a href="{% url 'slicklineoperations:list_slickline_ops_data' data.id %} ">Operations</a></td>  
                    <td><a href="{% url 'slickline:detail_slickline_data' data.id %} ">Details</a></td>                
                    <td><a href="{% url 'slickline:update_slickline_data' data.id %} ">Edit</a></td>
                    <td><a href="{% url 'slickline:delete_slickline_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <h5 class="text-center" style="color: darkred;">Average Liquid gain = {{avgliqgain}} </h5>  
        <h5 class="text-center" style="color: green;">Average Oil gain = {{avgoilgain}} </h5> 
        <div class="d-flex text-center">
            <a href="{% url 'slickline:create_slickline_data' %}" class="d-block btn btn-primary btn-sm my-5">Add New</a>
        </div>             
    </div> 
    <div class="container main text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
</form>
{% endblock content %}
</html>