{% extends "Home/oillayout.html" %}
<title>
    {% block title %}
        Delete Casing
    {% endblock title %}   
    </title>
{% block content %}

{% url 'casings:list_casing' as list_all %}

<div class="container d-flex justify-content-center" style="width: 50%;">
    <div class="col text-center">
        <hr>
        <h5 class="text-center">Delete Casing</h5>
        <hr>
        <p class="text-danger">Are you sure you want to delete the Casing:</p>
        <h5 class="text-center">{{ casing.casingSize }}</h5>
        <form action="" method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} <input type="submit" value="Confirm">           
            {% comment %} <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{% url 'casings:list_casings' %}'; return false;">{% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'casings:list_casings' %}'; return false;" value="Cancel">
            
        </form>
    </div>
</div>

{% endblock %}