{% extends "home/oillayout.html" %}

{% block content %}
{% for plug in cementplugs %}
    {% for colname in plug.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container main  d-flex" style="width: 100%;">
    <div class="col">
        <h4 class="text-center"> Cement Plugs</h4>
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.75em;">
            <thead >
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Plug Date</th>     
                    <th class="text-center" scope="col">Plug Top</th>                    
                    <th class="text-center" scope="col">Plug Bottom</th>
                    <th class="text-center" scope="col">Cement Density</sup></th>
                    <th class="text-center" scope="col">Cement Volume</sup></th>
                    <th class="text-center" scope="col">Description</th>   
                    <th>Pump Data</th>                
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for plug in cementplugs %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}                    
                    <td class="text-center">{{plug.plug_Date}}</td>
                    <td class="ml-5">{{plug.plug_Top}}</td>
                    <td class="text-center">{{plug.plug_Bottom}}</td>
                    <td class="text-center">{{plug.cement_Density}}</td>
                    <td class="text-center">{{plug.cement_Volume}}</td>
                    <td class="text-center">{{plug.plug_Description}}</td>                    
                    <td><a href="{% url 'cementplugs:list_cement_pumpData' plug.id %} ">Pump Data</a></td>
                    <td><a href="{% url 'cementplugs:update_cement_plug' plug.id %} ">Edit</a></td>
                    <td><a href="{% url 'cementplugs:delete_cement_plug' plug.id %}">Delete</a></td>
                </tr>
            {% endfor %}        
            </tbody>
        </table>   
        <div class="d-flex justify-content-center" style="width:15% ;">
            <a href="{% url 'cementplugs:create_cement_plug' %}" class="d-block btn btn-primary my-5">Add New</a>
        </div>
    </div>        
</div>
{% endblock content %}