<html lang="en">
{% extends "home/oillayout.html" %}

{% block content %}
{% for data in coil_tubing_ops_datas %}
    {% for colname in data.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}
<form action="" enctype="multipart/form-data" method="POST">
    <div class="container text-center">  
        {% include 'home/messages.html' %}  
        {%  if chart %}
            <img src="data:image/png;base64, {{chart|safe}}">
        {% endif %}   
    </div>
    <div class="container main">   
        <div class="row"> 
            <h3 class="text-center">Wellhead Details </h3>
        </div>  
        <table class="table table-striped table-bordered" style="border: 2px; border-width:2px; font-size:0.8em;">
            {% csrf_token %}
            <thead style="background-color:rgb(106, 130, 238);">
                <tr class='text-center'> 
                    <th>Make</th>                      
                    <th>Model</th>   
                    <th>Type</th> 
                    <th>Seal</th> 
                    <th>Hanger</th> 
                    <th>Flange</th>   
                    <th>Connection</th> 
                    <th>Valve</th> 
                    <th>Temp. Rating</th>   
                    <th>Material</th> 
                    <th>Service</th> 
                    <th>PSL</th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for data in wh_datas %}
                <tr class=text-center>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %} 
                    <td>{{data.wh_Make}}</td>
                    <td>{{data.wh_Model}}</td>
                    <td>{{data.wh_Type}}</td>   
                    <td>{{data.seal}}</td>    
                    <td>{{data.hanger_Type}}</td>               
                    <td>{{data.flange_Size}}</td> 
                    <td>{{data.connection}}</td>    
                    <td>{{data.valve_Size}}</td>               
                    <td>{{data.temperature_Rating}}</td>                      
                    <td>{{data.material}}</td>    
                    <td>{{data.service}}</td>               
                    <td>{{data.product_Service_Level}}</td>   
                                                                                     
                    <td><a href="{% url 'wellhead:update_wh_data' data.id %}" >Edit</a></td>
                    <td><a href="{% url 'wellhead:delete_wh_data' data.id %}">Delete</a></td>
                </tr>
            {% endfor %}   
        </table> 
        <div class="d-flex text-center">           
            <a href="{% url 'wellhead:create_wh_data' %}" class="d-block btn btn-primary btn-sm my-2">Add New</a>
           
        </div>             
    </div> 
</form>
{% endblock content %}
</html>