{% extends "Home/oillayout.html" %}
<title>
    
    {% block title %}
        Cement Bond Log
    {% endblock title %}
        
</title>
{% block content %}

<div class="container main" >  
    <div class="col">      
        <h4 class="text-center">Cement Bond Logs for   {{cementbondlogs.first.casingSize}} inch Casing</h4>
        <table class="table table-bordered table-striped text-center" style="font-size:0.75em;" >
            <thead >
                <tr>
                    {% comment %} <th>#</th> {% endcomment %} 
                    <th class=''>CBL id</th>
                    <th class=''>Logged Date</th>
                    <th class=''>Casing Size</th>
                    <th class=''>Analyst</th>
                    <th class=''>Interpretation</th>
                    <th class=''>CBL image</th>
                    <th>CBL Data</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for cementbondlog in cementbondlogs %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}  
                    <td class="text-center">{{cementbondlog.id }}</td> 
                    <td class="text-center">{{cementbondlog.recorded_date }}</td> 
                    <td class="text-center">{{cementbondlog.casingSize}}</td>
                    <td class="text-center">{{cementbondlog.analyst}}</td>                    
                    <td class="text-center">{{cementbondlog.interpretation }}</td> 
                    <td class="text-center">{{cementbondlog.cblImage.url}}</td>                            
                    <td><a href="#">CBL Data</a></td>                     
                    <td><a href="{% url 'cementbondlogs:update_cementbondlog' cementbondlog.id %} ">Edit</a></td>
                    <td><a href="{% url 'cementbondlogs:delete_cementbondlog' cementbondlog.id %}">Delete</a></td>                   
                </tr>
            {% endfor %}        
            </tbody>
        </table>         
        <div class="d-flex justify-content-center" style="width: 35%;">
            <a href="{% url 'casings:list_casings' %}" class="d-block btn btn-primary my-1 mx-5">Back to Casings</a> 
            <a href="{% url 'cementbondlogs:create_cementbondlog' cid %}" class="d-block btn btn-primary my-1">Add New</a>
        </div>
    </div>        
</div>

{% endblock content %}