{% extends "home/oillayout.html" %}

{% block content %}
{% for cementbondlog in cementbondlogs %}
    {% for colname in cementbondlog.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}

<div class="container d-flex" style="width: 100%;">  
    <div class="col">      
        <h5 class="text-center">Cement Bond Logs for   {{cementbondlogs.first.casingSize}} inch Casing</h5>
        <hr>
        <table class="table table-bordered table-striped" style="font-size:0.85em;"  class="text-center" >
            <thead style="background-color:lightgrey;">
                <tr>
                    {% comment %} <th>#</th> {% endcomment %} 
                    <th class=''>CBL id</th>
                    <th class=''>Logged Date</th>
                    <th class=''>Casing Size</th>
                    <th class=''>Analyst</th>
                    <th class=''>Interpretation</th>
                    <th class=''>CBL image</th>
                    <th>CBL Data</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>            
                {% for cementbondlog in cementbondlogs %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}  
                    <td class="text-center">{{cementbondlog.id }}</td> 
                    <td class="text-center">{{cementbondlog.recorded_date }}</td> 
                    <td class="text-center">{{cementbondlog.casingSize}}</td>
                    <td class="text-center">{{cementbondlog.analyst}}</td>                    
                    <td class="text-center">{{cementbondlog.interpretation }}</td> 
                    <td class="text-center">{{cementbondlog.cblImage.url}}</td>                    
                    {% if cementbondlog %}   
                        <td><a href="#">CBL Data</a></td>                     
                        <td><a href="{% url 'cementbondlogs:update_cementbondlog' cementbondlog.id %} ">Edit</a></td>
                        <td><a href="{% url 'cementbondlogs:delete_cementbondlog' cementbondlog.id %}">Delete</a></td>        
                    {% endif %}
                </tr>
            {% endfor %}        
            </tbody>
        </table> 
        <br> 
        <div class="d-flex justify-content-center">
            <a href="{% url 'casings:list_casings' %}" class="d-block btn btn-primary my-1 mx-5">Back to Casings</a> 
            <a href="{% url 'cementbondlogs:create_cementbondlog' id %}" class="d-block btn btn-primary my-1">Add New</a>
        </div>
    </div>        
</div>

{% endblock content %}