{% extends "Home/gaslayout.html" %}
{% block content %}

{% url 'gploganalysis:list_gploganalysis' as list_all %}

<div class="container d-flex justify-content-center" style="width: 50%;">
    <div class="col text-center">
        <h5 class="text-center">Delete Log</h5>
        <p class="text-danger">Are you sure you want to delete the log:</p>
        <h5 class="text-center">{{ log.gpcasingSize }}</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <input type="submit" value="Confirm">           
            {% comment %} <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{% url 'gploganalysis:list_gploganalysis' gploganalysis.casingSize_id %}'; return false;">{% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'gploganalysis:gploganalysis' gploganalysis.casingSize_id %}'; return false;" value="Cancel">
            
        </form>
    </div>
</div>

{% endblock %}