{% extends "home/waterinjectorlayout.html" %}

{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'wicementplugs:list_wicement_pumpData' as list_all %}?plugid =plugid
<div class="container d-flex justify-content-center" style="width: 75%;">
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if gppumpdata %}
            <hr>
            <h5 class="text-center text-success">Update Gas Producer Pumping Data </h5> 
            {% else %}  
            <h5 class="text-center text-success">Create Gas Producer Pumping Data</h5>    
            {% endif %}   
            <hr>          
            <table class="table table-striped" style="font-size:0.8em;"  class="text-center" >
                {{form.as_table}}              
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Submit" style="margin-right: 30px; margin-top: 30px;" > 
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'wicementplugs:list_wicement_pumpData' id  %}'; return true;" value="Cancel">  
                <a href="{% url 'wicementplugs:list_gpcement_pumpData' id %}" class="btn btn-sm" style="margin-top: 30px;">Cancel</a>           
            </div>            
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}