{% extends "Home/gaslayout.html" %}
{% block content %}

{% url 'standingmodels:all' as list_all %}

<div class="container d-flex justify-content-center mt-0" style="width: 50%;">
    <div class="col mt-0 text-center">
        <h4 class="mb-5">Delete Standing's Inflow Model</h4>
        <p class="h5 text-danger">Are you sure you want to delete the Standing's inflow model for :</p>
        <h5 class="my-5">{{ standingmodel.layer_Name }}</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{% url 'opinflow:list_inflow' %}'; return false;">{% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{% url 'opinflow:list_inflow' %}'; return false;" value="Cancel">
        </form>
    </div>
</div>

{% endblock %}