{% extends "Home/oillayout.html" %}
<title>    
    {% block title %}
        Delete Completion Eqipnent
    {% endblock title %}        
</title>
{% block content %}

{% url 'completion:list_completion_data' as list_all %}
<div class="container d-flex justify-content-center mt-2" style="width: 50%;">
    <div class="col mt-2 text-center">
        <h5 class="mb-2">Delete Coil Tubing Intervention Operation</h5>
        <p class="h5 text-danger">Are you sure you want to delete the Coil Tubing Intervention Operation:</p>
        <h5 class="my-2">{{coil_tubing_ops_data.op_details}}</h5>
        <form action="" method="POST">
            {% csrf_token %}
            {% comment %} 
            <input type="submit" value="Confirm">           
            <input type="submit" value="Cancel" onclick="window.location='{{list_all}}'; return false;" >
            {% endcomment %}
            <input type="submit" class="btn btn-primary btn-sm" value="Confirm" style="margin-right: 30px; margin-top: 30px;">
            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{list_all}}'; return false;" value="Cancel">
        </form>
    </div>
</div>

{% endblock %}