{% extends "Home/oillayout.html" %}
<title>
    
    {% block title %}
    {% if completion_data %}
    Update Completion Data
    {% else %}
    Create Completion Data
    {% endif %}        
    {% endblock title %}
        
</title>
{% block content %}

<!-- BOOTSTRAP FORM -->
{% url 'wellcompletion:list_completion_data' as list_all %}
<div class="container d-flex justify-content-center main" >
    <div class="row mt-0">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if completion_data %}
                <h4 class="text-center">Update Completion Data </h4> 
            {% else %}  
                <h4 class="text-center">Create Completion Data</h4>    
            {% endif %}       
            <table class="table">
                {{form.as_table}}
            </table>      
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 30px;" onclick="window.location='{{list_all}}'; return false;" value="Cancel">
            </div> 
          
        </form> 

    </div>
</div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}